body{
    background-color: silver;
}

img{
    height: 120px;
    width: 80px;
}

table, th, td{
    border: 2px solid;
    border-color: black;
}

.blue-title {
    color: blue;
}

.background-orange {
    background-color: orange;
}

.large-text {
    font-size: 200%;
}

.hideImages {
    display: none;
}