body.color {
    background-color:orange;
}


#productTable img{
    height: 100px;
    width: 100px;
}

.blue-title {
    color: blue;
    text-size-adjust: 2rem;

}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
  }

/*
.button {
   padding: 2rem;
}
*/

.hidden {
    
}